*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
/* BODY */
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* SECCIÓN HEADER */
header{
    background-color: rgb(204, 226, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: rgb(1, 1, 1);
    font-size: 45px;
    margin: 20px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin: 15px;

}


/* SECCIÓN MAIN */
main{
    background-color: beige;
    min-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    flex-grow: 1    ;
}
main section{
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
}
h2{
    display: flex;
    justify-content: center;
    
}
main h3{
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    
}
h4{
    color: black;
    font-size: 25px;
    padding: 15px;
    background-color: rgb(202, 226, 244);
}
.container{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    justify-content: center;
}
.caja{
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin: 0px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(218, 212, 178);
}

main a{
    color: rgb(48, 47, 47);
}
img{
    max-width: 100%;
    height: auto;
}
main section form div{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

/* SECCIÓN FOOTER */
footer div{
    background-color: rgb(204, 226, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 40vh;
    font-size: 25px;
}
footer div h3{
    text-align: center;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
}


@media (max-width: 500px){
    header{
    flex-direction: column;
    }
    .container{
    display: grid;
    grid-template-columns: 1fr;
    }
    .caja{
        display: grid;
    }
    footer div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    }
footer ul li a{
    display: flex;
    justify-content: center;
        }

}