@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

footer{
    background-color: $bg-header-footer;
    padding: 20px
}

.footer-box{
    background-color: $bg-header-footer;
    @include flex-base(null,center);
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
footer div h3{
    text-align: center;
}
.social {
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-top: 5px;
}
.social img {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease;
}
.social img:hover {
    transform: scale(1.15);
}
iframe{
    max-width: 100%;
    width: 400px;
    height: 200px;
    display: inline-block;
}