@use "../utilities/variables" as *;

@media (max-width: 768px){

    .container{
    display: grid;
    grid-template-columns: 1fr;
    }
    .caja{
        display: grid;
        max-width: $tamaño-width;
        width: 350px;
    }
    .carrusel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        order: 2;
    }
    .destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 20px;
    }
    #carouselExample {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #carouselExamplem {
        margin-left: 10px;
        margin-right: 10px;
    }
    .destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    order: 1;
    }
    .nosotros {
        padding: 5px;
        font-size: 20px;
        max-width: 800px;
        margin: 5px auto;
    }
    .imagen-nosotros {
        width: 400px;
        max-width: 600px;
        height: auto;
        padding: 5px;
        margin: 10px auto;
    }
    footer div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    }
    footer ul li a{
    display: flex;
    justify-content: center;
        }
    iframe{
    max-width: $tamaño-width;
    width: 400px;
    height: 200px;
    display: inline-block;
    }
}