@use "../utilities/variables" as *;

@media (max-width: 500px){

    .container{
    display: grid;
    grid-template-columns: 1fr;
    }
    .caja{
        display: grid;
        max-width: $tamaño-width;
        width: 350px;
    }
    footer div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    }
    footer ul li a{
    display: flex;
    justify-content: center;
        }
    iframe{
    max-width: $tamaño-width;
    width: 400px;
    height: 200px;
    display: inline-block;
    }
}