/* VARIABLES */
$bg-header-footer: rgb(204, 226, 227);
$bg-main: beige;
$bg-caja: rgb(218, 212, 178);
$bg-boton-compra: #727264;
$bg-boton-compra-hover: #b1ad62;

$fuente-body-nosotros:Verdana, Geneva, Tahoma, sans-serif;
$fuente-h1:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-h2:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$tamaño-width: 100%;
$margin-chiquito: 20px;
$borde-radio: 8px;
