@use "../utilities/variables" as *;

.inicio-sesion{
    width: $tama単o-width;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.form-login{
    padding: 30px;
    width: $tama単o-width;
    max-width: 400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input{
    border: 2px solid #ccc;
    border-radius: $borde-radio;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login input{
    width: $tama単o-width;
    padding: 10px;
    font-size: 16px;
}
.registro{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.registro input{
    width: $tama単o-width;
    padding: 10px;
    font-size: 16px;
}
.boton{
    background-color: #1f2937;
    color: white;
    border: none;
    padding: 12px;
    border-radius:$borde-radio;
    cursor: pointer;
    transition: all 0.3s ease;
}
.boton:hover{
    background-color: #111827;
    border-radius: $borde-radio;
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
.boton:active{
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}