@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

body{
    font-family:$fuente-body-nosotros;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @include flex-base(center, null);
    
}
